<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
    	xmlns:th="http://www.thymeleaf.org"
    	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    

<head>
	<meta charset="UTF-8"/>
	<title>Financeiro</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/metisMenu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
</head>

<body>
	<div id="wrapper">
	
		
		<div th:replace="layout/NavBar :: navBar"></div>
	
		<section layout:fragment="conteudo"></section>
	
	</div>
	
	
  	<script th:src="@{/js/vendors/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap.min.js}"></script>
    <script th:src="@{/js/vendors/metisMenu.min.js}"></script>
    <script th:src="@{/js/vendors/sb-admin-2.js}"></script>
    <script th:src="@{/js/vendors/jquery.maskMoney.min.js}"></script>
    <script th:src="@{/js/vendors/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script th:src="@{/js/financeiro.js}"></script>
</body>
</html>