.panel-default {
    margin-left: -15px;
    margin-right: -15px;
}

.alert {
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.custom-css {
	margin-left: 5px;
    margin-right: 5px;
}


.well {
    margin-top: 20px;
}

