<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
    	xmlns:th="http://www.thymeleaf.org"
    	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    	

	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<!-- NavBar -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		    <a class="navbar-brand" href="index.html">Financeiro v1.0</a>
		    
		    
		</div>
            <div id="sideBar" layout:include="SideBar"></div>
		</nav>
</html>